<!DOCTYPE html>
<html>
	<head>
		<link type="text/css" rel="stylesheet" href="static/stylesheet.css"/>
		<title></title>
	</head>
	<body>
	    <div id="header">
	        <p id="name">premkumar p.v.</p>
	        <a href="http://www.gmail.com/"><p id="email">premkumarparsimani@gmail.com</p></a>
	    </div>
	    <div class="right">
	        <ul>
	        <h4> objective:</h4>
	        <p>Looking for a challenging and responsible opportunity, explore strength sand potentials in a professional organization to meet employers expectations.</p>
	        <h4>paper persentation:</h4>
	        <p>Presented  paper on GOOGLE GLASS in my class..</p>
	        <h4>Technical skills:</h4>
	        <p>Programming Languages:c,python,html&css</p>
	        <p>Operating systeam:windows,linux and unix</p>
	        <p>Others:Microsoft Word, Excel and Power Point</p>
	        <h4>Awardes & Achivements:</h4>
	            <p>Awarded as the best student of the year during tenth standard.</p>
	            <p>Awarded as the best student of the year during intermediate.</p>
	        <h4>Extra curricular activities:</h4>
	        	<p> Volunteer work</p>
	        	<p> Participated in Ethical Voting.</p>
	        <h4> Personal Traits:</h4>
	        	<p>A hardworking and determined individual who works well in a team environment and self-motive.</p>
	        	<p>Adaptability to changing environment and trends.</p>
	        	<p>Dedication and commitment towards work and eager to learn new technologies.</p>
	        	<p>Problem solving skills.</p>
	        <h4>Education:</h4>
	        	<table border="1px">
	            	<thead>
		                <tr>
		                    <th>Specialization</th>
		                    <th>Institution</th>
		                    <th>Percentage</th>
		                <tr>
	           		<thead>
	           		<tbody>
		                <tr>
		                    <td>Btech</td>
		                    <td>audisankara institute of technology</td>
		                    <td> 66%</td>
		                </tr>
		                <tr>
		                    <td>intermediate</td>
		                    <td>viswasanthi</td>
		                    <td>83.2%</td>
		                </tr>
		                <tr>
		                    <td>ssc</td>
		                    <td>zp high school</td>
		                    <td>81.2%</td>
		                </tr>
	           		</tbody>
	       		</table>
	       	<h4>Persanol detailes:</h4>
    	        <p>Name :   premkumar p..</p>
    	        <p>Father name  :   chinna bujjaiah</p>
    	        <p>DOB  :   18/05/1994</p>
    	        <p>nationality  :   indian</p>
    	        <p>Marital status   :   unmarried</p>
	        <h4>
	     </div>   
	     </ul>
	    <div id="footer">
	    </div>
	</body>
</html>
